@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap');


.nav-pc,
.logo-pc,
.desktop {
    display: none;
}

header {
    padding: 0 15px;
}

.box-1-wrapper,
.box-2-wrapper,
.box-3-wrapper,
.box-4-wrapper,
.box-5-wrapper,
.box-7-wrapper,
.box-8-wrapper,
footer {
    padding: 0 30px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

body {
    background-color: #2B2B2B;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .9375em 0;
}


/* Main start */
/* !Box 1 START */
.box-1-row {
    width: 100%;
    min-height: 747px;
    margin-bottom: 80px;
    background: #2B2B2B;
}

/* .box-1-row-col-1{
} */
.box-1-row-col .bg {
    width: 100%;
    height: 232px;
    background: url(/images/bgplace.jpg);
    background-position: center;
    background-size: cover;
}

.box-1-row-col-2 {
    width: 100%;
    height: 515px;
    margin-top: 30px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-1-row-col-h1 {
    max-width: 315px;
    width: 100%;
    min-height: 110px;
    margin-bottom: 30px;
}

.box-1-row-col-h1 h1 {
    width: 100%;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2.375em;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #FFFFFF;
}

.box-1-row-col-h1 p {
    width: 100%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 140%;

    color: #FFFFFF;
}

/*! input start */

.box-1-row-col-inputs-row {
    max-width: 315px;
    width: 100%;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input:not(:last-child) {
    display: flex;
    width: 315px;
    width: 100%;
    height: 46px;
    align-items: center;
    background-color: #fff;
    padding: 16px 20px;
    border-radius: 20px;
}

.input input:not(:last-child) {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.input:last-child input {
    width: 100%;
    height: 46px;
    background: #A259FF;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    transition: 0.5s;
}

input::placeholder {
    padding-left: -23px;
}

.input input {
    border: none;
    width: 100%;
    height: 30px;
    padding-left: 20px;
    outline: none;
    transition: .6s;
}



.box-1-row-col-inputs-row img {
    width: 20px;
    height: 20px;
}

/*! input end */

/* !Box 1 END */
/* Main end */



/* Footer start */
footer {
    margin-top: -30px;
    padding-top: 20px;
    background-color: #3B3B3B;
}

footer p {
    max-width: 315px;
    width: 100%;
    height: 44px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #CCCCCC;
}

.footer-input-col {
    max-width: 320px;
    width: 100%;
}

#email-btn {
    max-width: 315px;
    width: 100%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #858584;
    border-radius: 20px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

#email-btn::placeholder {
    padding-left: 10px;
}

.f-btn {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 46px;
    margin-top: 16px;
    border: 0;
    border-radius: 20px;
    background: #A259FF;
    color: #fff;
    transition: 0.5s;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 140%;
    gap: 5px;
    cursor: pointer;
}




.fcol1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    max-width: 440px;
    width: 100%;
    min-height: 185px;
    margin-bottom: 30px;
}

.fcol1 p {
    width: 100%;
}

.fcol1 img {
    cursor: pointer;
    transition: 0.4s;
}

.fcol2 {
    max-width: 340px;
    width: 100%;
}

.fcol2 p {
    width: 100%;
}

.fcol2 p:first-child {
    margin-top: 20px;
}

.fcol2 h2 {
    width: 100px;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

.fcol3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    max-width: 420px;
    width: 100%;
    min-height: 227px;
    margin-bottom: 30px;

}

.fcol3 p {
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
}

.fcol3 h3 {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
    color: #FFFFFF;
}

#copy {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    padding-top: 20px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 110%;

    color: #CCCCCC;
    border-top: 1px solid #CCCCCC;

}


/* ! Tablet */
@media (min-width:600px) {
    .box-1-row {
        display: flex;
        max-width: 834px;
        width: 100%;
        margin-bottom: 5px;
    }

    .bg {
        max-width: 100%;
        min-height: 721px !important;
    }

    .box-1-row-col {
        max-width: 100%;
        width: 100%;
        height: 615px;
    }

    .box-1-row-col-2 {
        display: flex;
        height: 615px;
        padding: 0 15px;
        flex-basis: 70%;
        justify-content: flex-start;
    }

    .fcol3 {
        max-width: 100%;
        width: 100% !important;
    }

    .fcol3 h3 {
        max-width: 690px;
        width: 100%;

        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;

        color: #FFFFFF;
    }

    .fcol3 p {
        max-width: 690px;
        width: 100%;
        height: 22px;

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;

        color: #CCCCCC;
    }

    .footer-input-col {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        max-width: 420px;
        width: 100%;
    }

    /* ! footer  */

    #email-btn {
        width: 100%;
        padding-left: 20px;
    }

    .f-btn {
        position: relative;
        bottom: 8px;
        max-width: 90px;
        height: 48px;
    }

    .f-btn:hover {
        max-width: 165px;
        font-size: 16px;
    }

}



/*! Deksotp */
@media (min-width:768px) {

    .desktop,
    .desktop-menu,
    .logo-pc {
        display: block;
    }

    .mobile-menu,
    .box-3.tablets,
    .for-mobile,
    .box-5.tablets,
    .logo{
        display: none;
    }


    .nav-pc {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .desktop-menu {
        height: 60px;
        display: flex;
        align-items: center;
        color: #fff;
        gap: 20px;
    }

    .desktop-menu li {
        transition: 0.5s;
        cursor: pointer;
        padding-left: 5px;
        height: 46px;

        display: flex;
        align-items: center;
        border-radius: 20px;

        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
    }

    .btn-sign-up {
        gap: 12px;
        min-width: 92px;
        height: 35px;
        border: 0;
        color: #fff;
        background: #A259FF;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;
    }

    .footer {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }


    .box-1-row {
        min-width: 100%;
        min-height: 691px;
        margin-top: -25px;
        gap: 60px;
    }

    .box-1-row-col {
        max-width: 100%;
        width: 100%;
        min-height: 691px;
        align-items: baseline;
        justify-content: center;
    }

    .bg {
        max-width: 100%;
        width: 100%;
        min-height: 691px;
    }

    .box-1-row-col-h1 {
        max-width: 460px;
        width: 100%;
        min-height: 146px;
    }


    .box-1-row-col-h1 h1 {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 51px;
        line-height: 110%;
        display: flex;
        align-items: center;
        text-transform: capitalize;

        color: #FFFFFF;
    }

    .box-1-row-col-h1 p {
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 160%;
        text-transform: capitalize;
        color: #FFFFFF;
    }

    .box-1-row-col-inputs-row {
        max-width: 330px;
        width: 100%;
        height: 305px;
        margin-bottom: 110px;
        gap: 20px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .logo-pc {
        cursor: pointer;
        transition: .5s;
    }

    .footer-input-col {
        justify-content: right;
    }

    .intro-card:hover,
    .btn:hover,
    .wrap1:hover,
    .wrap2:hover,
    .btn1:hover,
    .intro-card-text-list:hover,
    .btn3:hover,
    .categories-images-wrap-cols:hover,
    .btn4:hover,
    .card:hover,
    .btn5:hover,
    .box-7-card-1:hover,
    .users:hover,
    .sablon-img:hover,
    .btn-sign-up:hover,
    li:hover,
    .logo-pc:hover,
    .input:last-child input:hover {
        transform: scale(.9);
    }
}