<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/reset.css">
    <link rel="stylesheet" href="Css/artist.page.css">
    <title>Nft Market Place</title>

</head>

<body>
    <header>
        <div class="nav-pc">
            <a href="index.html" rel="noopener noreferrer">
                <div class="logo-pc">
                    <img src="images/logologo.png" alt="logo">
                </div>
            </a>

            <div class="desktop-menu">
                <a href="marketplace.html">
                <li>Marketplace</li></a>
                <li>Rankings</li>
                <a href="connect.a.vallet.html" rel="noopener noreferrer">
                    <li>Connect a wallet</li>
                </a>
                <a href="sign-in.html" rel="noopener noreferrer"><button class="btn-sign-up">Sign
                        Up</button></a>
            </div>
        </div>

        <nav>
            <a href="index.html">
                <div class="logo">
                    <img src="images/logologo.png" alt="logo">
                </div>
            </a>
            <div class="mobile-menu">
                <img src="images/icons/Burger Menumenu.bar.svg" alt="Menu">
            </div>

        </nav>
    </header>
    <main>
        <div class="bg-and-profile">
            <div class="container">
                <div class="avatar">
                    <img src="images/Avatar Placeholder_1.png">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="box-1-wrapper">
                <div class="col1">
                    <div class="user-name">
                        <h1>AnimaKid</h1>
                    </div>
                    <div class="buton-wrapper for-mobile">
                        <button>
                            <img src="images/icons/Copy.png" alt="">
                            <span>0xc0E3...B79C</span>
                        </button>
                        <button>
                            <img src="images/icons/Plus.png">
                            <span>Follow</span>
                        </button>
                    </div>
                    <div class="subs-text-wrap">
                        <div class="subs-text-col">
                            <h2>250k+</h2>
                            <span>Volume</span>
                        </div>
                        <div class="subs-text-col">
                            <h2>50+</h2>
                            <span>NFTs Sold</span>
                        </div>
                        <div class="subs-text-col">
                            <h2>3000k+</h2>
                            <span>Followers</span>
                        </div>
                    </div>
                    <div class="bio">
                        <span>Bio</span>
                        <p>The internet's friendliest designer kid.</p>
                    </div>
                    <div class="social-top">
                        <span>Links</span>
                        <div class="img-wrap">
                            <img src="images/icons/DiscordLogodc.png">
                            <img src="images/icons/YoutubeLogo.png">
                            <img src="images/icons/TwitterLogo.png">
                            <img src="images/icons/InstagramLogo.png">
                        </div>

                    </div>
                </div>
                <div class="col2 pc">
                    <div class="buton-wrapper pc">
                        <button>
                            <img src="images/icons/Copy.png" alt="">
                            <span>0xc0E3...B79C</span>
                        </button>
                        <button>
                            <img src="images/icons/Plus.png">
                            <span>Follow</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box-2-wrapper">
                <div class="select-categori-wrapper">
                    <div class="col">
                        <span class="col-header activeted">Created</span>
                        <span class="col-surcle activeted1 for-mobile-none">302</span>
                    </div>
                    <div class="c1">
                        <span class="col-header">Created</span>
                        <span class="col-surcle for-mobile-none">67</span>
                    </div>
                    <div class="c1">
                        <span class="col-header">Created</span>
                        <span class="col-surcle for-mobile-none">5</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="all-card-wrappers">
            <div class="container">
                <!-- !Mobile -->
                <div class="card-col-wrappers for-mobile ">
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder_9.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Distant Galaxy</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/ImagePlaceholder_5.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Life On Edena</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/ImagePlaceholder_11.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Astro Fiction</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- !Tablets -->
                <div class="card-col-wrappers tablets ">
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder_9.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Distant Galaxy</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/ImagePlaceholder_5.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Life On Edena</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-col-wrappers tablets ">
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/ImagePlaceholder_11.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">AstroFiction</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder.jpg">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">CryptoCity</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-col-wrappers tablets ">
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder (2).jpg">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Cherry Girl</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder4.jpg">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Space Tales</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- !Pc -->
                <div class="card-col-wrappers pc ">
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder_9.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Distant Galaxy</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/ImagePlaceholder_5.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">Life On Edena</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card-col">
                        <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/ImagePlaceholder_11.png">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">AstroFiction</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="card-col-wrappers pc ">
                 
                        <div class="card-col">
                            <a href="the-orbit.html">
                            <div class="img">
                                <img src="images/Image Placeholder.jpg">
                            </div>
                            <div class="card-text-wrapper">
                                <div class="card-header">
                                    <span class="header">CryptoCity</span>
                                    <div class="profile">
                                        <div class="profile-picture"></div>
                                        <div class="profile-name">AnimaKid</div>
                                    </div>
                                </div>
                                <div class="card-info">
                                    <div class="left">
                                        <span class="info-header">Price</span>
                                        <span class="cell-info">1.63 ETH</span>
                                    </div>
                                    <div class="right">
                                        <span class="info-header">Heights Bid</span>
                                        <span class="cell-info">0.33 wETH</span>
                                    </div>
                                </div>
                                </a>
                            </div>
                    
                </div>
                <div class="card-col">
                    <a href="the-orbit.html">
                        <div class="img">
                            <img src="images/Image Placeholder (1).jpg">
                        </div>
                        <div class="card-text-wrapper">
                            <div class="card-header">
                                <span class="header">ColorfulDog 0524</span>
                                <div class="profile">
                                    <div class="profile-picture"></div>
                                    <div class="profile-name">AnimaKid</div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="left">
                                    <span class="info-header">Price</span>
                                    <span class="cell-info">1.63 ETH</span>
                                </div>
                                <div class="right">
                                    <span class="info-header">Heights Bid</span>
                                    <span class="cell-info">0.33 wETH</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-col">
                    <a href="the-orbit.html">
                        <div class="img">
                            <img src="images/Image Placeholder4.jpg">
                        </div>
                        <div class="card-text-wrapper">
                            <div class="card-header">
                                <span class="header">Space Tales</span>
                                <div class="profile">
                                    <div class="profile-picture"></div>
                                    <div class="profile-name">AnimaKid</div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="left">
                                    <span class="info-header">Price</span>
                                    <span class="cell-info">1.63 ETH</span>
                                </div>
                                <div class="right">
                                    <span class="info-header">Heights Bid</span>
                                    <span class="cell-info">0.33 wETH</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="card-col-wrappers pc ">
                <div class="card-col">
                    <a href="the-orbit.html">
                        <div class="img">
                            <img src="images/Image Placeholder (2).jpg">
                        </div>
                        <div class="card-text-wrapper">
                            <div class="card-header">
                                <span class="header">Cherry Girl</span>
                                <div class="profile">
                                    <div class="profile-picture"></div>
                                    <div class="profile-name">AnimaKid</div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="left">
                                    <span class="info-header">Price</span>
                                    <span class="cell-info">1.63 ETH</span>
                                </div>
                                <div class="right">
                                    <span class="info-header">Heights Bid</span>
                                    <span class="cell-info">0.33 wETH</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-col">
                    <a href="the-orbit.html">
                        <div class="img">
                            <img src="images/Secondary Photo Placeholder_5.png">
                        </div>
                        <div class="card-text-wrapper">
                            <div class="card-header">
                                <span class="header">Dancing Robots 0987</span>
                                <div class="profile">
                                    <div class="profile-picture"></div>
                                    <div class="profile-name">AnimaKid</div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="left">
                                    <span class="info-header">Price</span>
                                    <span class="cell-info">1.63 ETH</span>
                                </div>
                                <div class="right">
                                    <span class="info-header">Heights Bid</span>
                                    <span class="cell-info">0.33 wETH</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card-col">
                    <a href="the-orbit.html">
                        <div class="img">
                            <img src="/images/ImagePlaceholder_2.png">
                        </div>
                        <div class="card-text-wrapper">
                            <div class="card-header">
                                <span class="header">IceCream Ape</span>
                                <div class="profile">
                                    <div class="profile-picture"></div>
                                    <div class="profile-name">AnimaKid</div>
                                </div>
                            </div>
                            <div class="card-info">
                                <div class="left">
                                    <span class="info-header">Price</span>
                                    <span class="cell-info">1.63 ETH</span>
                                </div>
                                <div class="right">
                                    <span class="info-header">Heights Bid</span>
                                    <span class="cell-info">0.33 wETH</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="fcol1">
                <a href="index.html" rel="noopener noreferrer">
                    <img src="images/logologo.png">
                </a>
                <p>NFT marketplace UI created with Anima for Figma.</p>
                <p>Join our community</p>
                <div class="social">
                    <img src="images/icons/DiscordLogodc.png">
                    <img src="images/icons/YoutubeLogo.png">
                    <img src="images/icons/TwitterLogo.png">
                    <img src="images/icons/InstagramLogo.png">
                </div>
            </div>
            <div class="fcol2">
                <h2>Explore</h2>
                <div class="explore-col">
                    <p>Marketplace</p>
                    <p>Ranking</p>
                    <p>Connect a wallet</p>
                </div>
            </div>
            <div class="fcol3">
                <h3>Join our weekly digest</h3>
                <p>Get exclusive promotions & updates straight to your inbox.</p>
                <div class="footer-input-col">
                    <input id="email-btn" type="email" placeholder="Enter Your Email Adress">
                    <button class="f-btn">
                        <img src="images/icons/EnvelopeSimplemail.png">
                        <span>Subscribe</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="copy">Ⓒ Made By <a href="https://github.com/zodwo" target="_blank">ZODWO</a> - NFT Market. Use
            this template freely. </div>
    </footer>
</body>

</html>
